<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sjxy.bbs.mapper.UserVerifyCodeMapper">

    <resultMap id="BaseResultMap" type="com.sjxy.bbs.entity.po.UserVerifyCodePO">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="token" column="token" jdbcType="CHAR"/>
            <result property="code" column="code" jdbcType="CHAR"/>
            <result property="type" column="type" jdbcType="TINYINT"/>
            <result property="checked" column="checked" jdbcType="TINYINT"/>
            <result property="expireTime" column="expire_time" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="BIGINT"/>
            <result property="createUsername" column="create_username" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
            <result property="updateUsername" column="update_username" jdbcType="VARCHAR"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
    </resultMap>

    <resultMap id="detailResultMap" type="com.sjxy.bbs.entity.po.UserVerifyCodePO">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="token" column="token" jdbcType="CHAR"/>
        <result property="code" column="code" jdbcType="CHAR"/>
        <result property="type" column="type" jdbcType="TINYINT"/>
        <result property="checked" column="checked" jdbcType="TINYINT"/>
        <result property="expireTime" column="expire_time" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="createBy" column="create_by" jdbcType="BIGINT"/>
        <result property="createUsername" column="create_username" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
        <result property="updateUsername" column="update_username" jdbcType="VARCHAR"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
        <result property="deleted" column="deleted" jdbcType="TINYINT"/>
        <association property="user" column="user_id" fetchType="lazy" select="com.sjxy.bbs.mapper.UserMapper.get"></association>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,token,
        code,checked,expire_time,type,
        create_time,create_by,create_username,
        update_time,update_by,update_username,
        version,deleted
    </sql>
    <select id="get" resultMap="detailResultMap">
        SELECT
            *
        FROM
            t_user_verify_code
        <where>
            <if test="record != null">
                <if test="record.code != null">
                    code = #{record.code}
                </if>
                <if test="record.code != null">
                    AND token = #{record.token}
                </if>
                <if test="record.type != null">
                    AND type = #{record.type}
                </if>
                <if test="record.userId != null">
                    AND user_id = #{record.userId}
                </if>
            </if>
            AND deleted = 0
        </where>
    </select>
</mapper>
