<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sjxy.bbs.mapper.UserLikeRelateMapper">

    <resultMap id="BaseResultMap" type="com.sjxy.bbs.entity.po.UserLikeRelatePO">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="topicId" column="topic_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="BIGINT"/>
            <result property="createUsername" column="create_username" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
            <result property="updateUsername" column="update_username" jdbcType="VARCHAR"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
    </resultMap>

    <resultMap id="detailResultMap" type="com.sjxy.bbs.entity.po.UserLikeRelatePO">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="topicId" column="topic_id" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="createBy" column="create_by" jdbcType="BIGINT"/>
        <result property="createUsername" column="create_username" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
        <result property="updateUsername" column="update_username" jdbcType="VARCHAR"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
        <result property="deleted" column="deleted" jdbcType="TINYINT"/>
        <association property="user" select="com.sjxy.bbs.mapper.UserMapper.get" fetchType="lazy" column="user_id"></association>
        <association property="topic" select="com.sjxy.bbs.mapper.TopicMapper.get" fetchType="lazy" column="topic_id"></association>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,topic_id,
        create_time,create_by,create_username,
        update_time,update_by,update_username,
        version,deleted
    </sql>
    <select id="query" resultMap="detailResultMap">
        select * from t_user_like_relate
        <where>
            <if test="record != null">
                <if test="record.userId != null">
                    user_id = #{record.userId}
                </if>
                <if test="record.topicId != null">
                    and topic_id = #{record.topicId}
                </if>
            </if>
            and deleted = 0
        </where>
    </select>
    <select id="list" resultMap="detailResultMap">
        select * from t_user_like_relate
        <where>
            <if test="record != null">
                <if test="record.userId != null">
                    user_id = #{record.userId}
                </if>
                <if test="record.topicId != null">
                    and topic_id = #{record.topicId}
                </if>
            </if>
            and deleted = 0
        </where>
    </select>
    <select id="get" resultMap="detailResultMap">
        select * from t_user_like_relate
        <where>
            <if test="record != null">
                <if test="record.userId != null">
                    user_id = #{record.userId}
                </if>
                <if test="record.topicId != null">
                    and topic_id = #{record.topicId}
                </if>
            </if>
            and deleted = 0
        </where>
        limit 1
    </select>

</mapper>
