<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sjxy.bbs.mapper.UserTagManageMapper">

    <resultMap id="BaseResultMap" type="com.sjxy.bbs.entity.po.UserTagManagePO">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="tagId" column="tag_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="BIGINT"/>
            <result property="createUsername" column="create_username" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
            <result property="updateUsername" column="update_username" jdbcType="VARCHAR"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
    </resultMap>

    <resultMap id="detailResultMap" type="com.sjxy.bbs.entity.po.UserTagManagePO">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="tagId" column="tag_id" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="createBy" column="create_by" jdbcType="BIGINT"/>
        <result property="createUsername" column="create_username" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
        <result property="updateUsername" column="update_username" jdbcType="VARCHAR"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
        <result property="deleted" column="deleted" jdbcType="TINYINT"/>
        <association property="user" column="user_id" fetchType="lazy" select="com.sjxy.bbs.mapper.UserMapper.get"></association>
        <association property="tag" column="tag_id" fetchType="lazy" select="com.sjxy.bbs.mapper.TagMapper.selectById"></association>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,user_id,tag_id,
        create_time,create_by,create_username,
        update_time,update_by,update_username,
        version,deleted
    </sql>
    <select id="list" resultMap="detailResultMap">
        SELECT
        *
        FROM
        t_user_tag_manage
        <where>
            <if test="record != null">
                <if test="record.tagId != null">
                    tag_id = #{record.tagId}
                </if>
                <if test="record.userId != null">
                    and user_id = #{record.userId}
                </if>
            </if>
            AND deleted = 0
        </where>
    </select>
    <select id="query" resultMap="detailResultMap">
        SELECT
        *
        FROM
        t_user_tag_manage
        <where>
            <if test="record != null">
                <if test="record.tagId != null">
                    tag_id = #{record.tagId}
                </if>
                <if test="record.userId != null">
                    and user_id = #{record.userId}
                </if>
            </if>
            AND deleted = 0
        </where>
    </select>
</mapper>
